# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [18]:
chipo = pd.DataFrame()
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', header=0)

### Step 4. See the first 10 entries

In [19]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [20]:
# Solution 1

print(chipo.count())

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [28]:
# Solution 2
print(chipo.shape[0])

4622

### Step 6. What is the number of columns in the dataset?

In [34]:
print (len(chipo.columns))
print (chipo.shape[1])

5
5

### Step 7. Print the name of all the columns.

In [42]:
for col in chipo.columns:
    print(col)
    
list(chipo)

order_id
quantity
item_name
choice_description
item_price

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [43]:
print(chipo.columns.values)

['order_id' 'quantity' 'item_name' 'choice_description' 'item_price']

### Step 8. How is the dataset indexed?

In [44]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [54]:
grouped = chipo.groupby('item_name').agg({'quantity': np.sum})
grouped.sort_values('quantity', ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [55]:
761

761

### Step 11. What was the most ordered item in the choice_description column?

In [58]:
grouped_choice = chipo.groupby('choice_description').sum()
grouped_choice.sort_values('quantity', ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [61]:
sum(chipo['quantity'])

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [65]:
chipo.item_price.dtype # datatype in pandas

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [75]:
#flo = lambda o : o.astype('float64')
flo = lambda o : float(o[1:-1])
chipo.item_price = chipo.item_price.apply(flo)

#### Step 13.c. Check the item price type

In [76]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [84]:
revenue = chipo['quantity'].dot(chipo['item_price'])
print(revenue)

39237.02000000001

### Step 15. How many orders were made in the period?

In [87]:
orders = chipo['order_id'].unique().shape[0]
print(orders)

1834

### Step 16. What is the average revenue amount per order?

In [88]:
# Solution 1

float(revenue / orders)

21.394231188658676

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [83]:
chipo['item_name'].unique().shape[0]

50