# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [12]:
chipo = pd.read_csv ('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter='\t')

### Step 4. How many products cost more than $10.00?

In [13]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [66]:
# chipo[float(chipo['item_price'][:-1])>10.0]
# float_prices = chipo['item_price'].apply(lambda x : float(x[1:]))

chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [67]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [74]:
greater_than_10 = chipo[(chipo['item_price']/chipo['quantity']) >10.0]
greater_than_10.head(100)
greater_than_10['item_name'].unique().shape[0]

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [38]:
unique_items = greater_than_10[['item_name','item_price']].groupby('item_name').mean()
unique_items.head(10)

                       item_price
item_name
Barbacoa Bowl           11.680370
Barbacoa Burrito        11.710833
Barbacoa Crispy Tacos   11.682500
Barbacoa Salad Bowl     11.890000
Barbacoa Soft Tacos     11.716250
Carnitas Bowl           12.729688
Carnitas Burrito        11.686316
Carnitas Crispy Tacos   11.750000
Carnitas Salad Bowl     11.890000
Carnitas Soft Tacos     11.750000

### Step 6. Sort by the name of the item

In [46]:
unique_items.reset_index().sort_values(by=['item_name'])

                item_name  item_price
0           Barbacoa Bowl   11.680370
1        Barbacoa Burrito   11.710833
2   Barbacoa Crispy Tacos   11.682500
3     Barbacoa Salad Bowl   11.890000
4     Barbacoa Soft Tacos   11.716250
5           Carnitas Bowl   12.729688
6        Carnitas Burrito   11.686316
7   Carnitas Crispy Tacos   11.750000
8     Carnitas Salad Bowl   11.890000
9     Carnitas Soft Tacos   11.750000
10           Chicken Bowl   11.669858
11        Chicken Burrito   11.289611
12   Chicken Crispy Tacos   11.232000
13          Chicken Salad   10.980000
14     Chicken Salad Bowl   13.455882
15     Chicken Soft Tacos   11.630769
16             Steak Bowl   12.227333
17          Steak Burrito   12.036378
18     Steak Crispy Tacos   11.750000
19       Steak Salad Bowl   13.141579
20       Steak Soft Tacos   11.660000
21            Veggie Bowl   11.226000
22         Veggie Burrito   11.828919
23      Veggie Salad Bowl   11.250000
24      Veggie Soft Tacos   11.250000

### Step 7. What was the quantity of the most expensive item ordered?

In [76]:
unique_items.sort_values(by='item_price')
chipo[chipo['item_name']=='Chicken Salad Bowl'].groupby('item_name').sum()

                    order_id  quantity  item_price
item_name
Chicken Salad Bowl    117104       123     1228.75

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [75]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].groupby('item_name').count()

                   order_id  quantity  choice_description  item_price
item_name
Veggie Salad Bowl        18        18                  18          18

### Step 9. How many times people orderd more than one Canned Soda?

In [51]:
chipo['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [64]:
chipo[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1)].shape[0]

20